<a routerLink="/product/new">Inserir novo</a>
<table aria-describedby="new product">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a [routerLink]="'/product/' + product.id">Editar</a>
            <button type="button" (click)="delete(product.id)">Excluir</button>
        </td>
    </tr>
</table>