<a routerLink="/product/new">Inserir novo</a>
<table aria-describedby="new product">
    <tr>
        <th id="id">ID</th>
        <th id="name">Nome</th>
        <th id="price">Preço</th>
        <th id="action">Ações</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a [routerLink]="'/product/' + product.id">Editar</a>
            <button type="button" (click)="delete(product.id)">Excluir</button>
        </td>
    </tr>
</table>